[Desktop Entry]
Version=1.0
Type=Application
Name=Slack
GenericName=Slack Client for Linux
Comment=Slack Desktop
TryExec={{ slack_launcher }}
Exec={{ slack_launcher }} %U
Icon={{ slack_icon }}
Categories=GNOME;GTK;Network;InstantMessaging;
Keywords=slack;chat;
MimeType=x-scheme-handler/slack;
StartupNotify=true
StartupWMClass=Slack
