- name: get latest release of llama.cpp
  community.general.github_release:
    user: ggml-org
    repo: llama.cpp
    action: latest_release
    prerelease: false
  register: release
- name: extract version from release
  set_fact:
    current_release: "{{ release.tag  }}"
  check_mode: false
  when:
    - release is succeeded

- name: get current version
  ansible.builtin.command:
    argv:
      - llama.cpp
      - --version
  register: current_version
  ignore_errors: true
  changed_when: false
  check_mode: false

- name: extract version
  set_fact:
    current_version: "{{ current_version.stdout_lines[0]  }}"
  check_mode: false
  when:
    - current_version is succeeded and current_version.stdout_lines is defined

- name: extract version
  set_fact:
    current_version: "v{{ current_version }}"
  check_mode: false

- name: Show current version
  debug:
    var: current_version
  when:
    - current_version.rc is not defined

- name: latest release
  debug:
    var: release.tag

- name: pinned version
  debug:
    var: pinned_version

# should be either release.tag or neovim_pinned_version
- name: set version to install
  set_fact:
    version_to_install: "{{ release.tag }}"
  when:
    - pinned_version is not defined

- name: version_to_install
  debug:
    var: version_to_install

- name: set version to install
  set_fact:
    version_to_install: "{{ pinned_version }}"
  when:
    - pinned_version is defined

- name: Show version to install
  debug:
    var: version_to_install
- name: Installed correct version
  debug:
    var: version_to_install != current_version
- block:
    - name: create temporary download directory
      ansible.builtin.tempfile:
        state: directory
        suffix: llama.cpp
      register: tmpdir
    - name: show tmpdir
      debug:
        var: tmpdir

    - name: extract binary
      ansible.builtin.unarchive:
        src: "https://github.com/ggml-org/llama.cpp/releases/download/{{ version_to_install }}/llama-{{version_to_install}}-bin-ubuntu-vulkan-x64.zip"
        dest: "{{ tmpdir.path }}"
        mode: "0755"
        remote_src: true

    - name: copy binaries
      ansible.builtin.copy:
        src: "{{ tmpdir.path }}/build/bin/"
        dest: "{{ ansible_env.HOME }}/.local/llama-cpp/bin"
    - name: find binary files
      find:
        paths: "{{ ansible_env.HOME }}/.local/llama-cpp/bin"
        file_type: file
        patterns: "*"
      register: filelist

    - name: change permissions
      file:
        path: "{{ item.path }}"
        recurse: false
        owner: 1000
        group: 1000
        mode: "0755"
      with_items: "{{ filelist.files }}"
    # TODO this doesn't work, need to update bashrc
    - name: add llama.cpp to PATH
      ansible.builtin.shell:
        cmd: "export PATH=$PATH:{{ extra_path }}"
  when:
    - not ansible_check_mode
    - version_to_install != current_version
