- name: get latest release of neovim
  community.general.github_release:
    user: neovim
    repo: neovim
    action: latest_release
    prerelease: false
  register: release


- name: get current version
  ansible.builtin.command:
    argv:
      - nvim
      - --version
  register: current_version
  ignore_errors: true
  changed_when: false
  check_mode: false

- name: extract version
  set_fact:
    current_version: "{{ current_version.stdout_lines[0] | regex_search('([0-9]+\\.[0-9]+\\.[0-9]+)', multiline=True) }}"
  check_mode: false
  when:
    - current_version is succeeded and current_version.stdout_lines is defined

- name: extract version
  set_fact:
    current_version: "v{{ current_version }}"
  check_mode: false

- name: Show current version
  debug:
    var: current_version
  when:
    - current_version.rc is not defined

- name: latest release
  debug:
    var: release.tag

- name: pinned version
  debug:
    var: neovim_pinned_version

# should be either release.tag or neovim_pinned_version
- name: set version to install
  set_fact:
    version_to_install: "{{ release.tag }}"
  when:
    - neovim_pinned_version is not defined


- name: set version to install
  set_fact:
    version_to_install: "{{ neovim_pinned_version }}"
  when:
    - neovim_pinned_version is defined

- name: Show version to install
  debug:
    var: version_to_install
- name: Installed correct version
  debug:
    var: version_to_install != current_version


- name: install appimage
  get_url:
    url: "https://github.com/neovim/neovim/releases/download/{{version_to_install}}/nvim-linux-x86_64.appimage"
    dest: "{{ ansible_env.HOME }}/.local/bin/nvim"
    mode: '0755'
    force: true
  when:
    - not ansible_check_mode
    - version_to_install != current_version

