[Desktop Entry]
Version=1.0
Type=Application
Name=Obsidian
GenericName=Knowledge Base
Comment=Obsidian
TryExec={{ obsidian_launcher }}
Exec={{ obsidian_launcher }} %U
Icon={{ obsidian_icon }}
Categories=Office;
Keywords=obsidian;markdown;notes;
MimeType=x-scheme-handler/obsidian;
StartupNotify=true
StartupWMClass=obsidian
